body{
    background-color:#EAEAEA;
    color:#393E46;
    font-family: 'Courier New', Courier, monospace;
     font-size: 16px;
    font-family: 'Lora', serif;
}
.all{
   width: 700px; 
   margin: 40px auto;
}
@media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .all {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .all {
      width: 300px;
    }
  }
.box{
    text-align: center;
    background: white;
    padding: 30px;
    margin: 20px;
    border: 1px solid lightgrey;
    border-radius: 7px;
}
h1{
    
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif
}
h2{
    color:#FF87CA;
    font-family: 'Roboto', sans-serif
}
#logo{
  width: 100px;
  border-radius: 50%;
}
a:hover{
    color: black;
}
a{
   color: #00ADB5;
}
